@font-face {
  font-family: poppines;
  src: url(../../Static/Poppins-Regular.ttf);
}

.emailverify {
  height: 100%;
  font-size: 1.5rem;
  font-weight: 500;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  padding: 2rem;
  padding-top: 7rem;
  background-color: var(--part1-background);
}

.emailverify>div{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.emailverify>div>button {
    display: block;
    box-sizing: border-box;
    background-color: #4a3d80;
    border-radius: 5px;
    color: white;
    padding: 8px 24px;
    font-family: 'poppines';
    font-weight: 600;
    border: 1.5px solid white;
    text-decoration: none;
    cursor: pointer;
    letter-spacing: 1px;
}
